// ======================================
// body
// ======================================
body {
    background-color: #F6F6F4;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }
}

// ======================================
// navbar
// ======================================
.navbar {
    .navbar-brand {
         .appname {
             font-weight: bold;
             color: #FF9800;
             background: -webkit-linear-gradient(45deg, #FF9800, #E91E63);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
         }
    }
    .notify-button {
        background-color: #FF9800;
        color: #fff;
        padding: 0 12px;
        font-size: 20px;
        border-radius: 5px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-nav {
        .nav-link {
         .nav-text {
                font-weight: bold;
                color: #000;
                .register {
                    background: -moz-linear-gradient(left, #FF9800, #E91E63);
                    background: -webkit-linear-gradient(left, #FF9800, #E91E63);
                    background: linear-gradient(to right, #FF9800, #E91E63);
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

// ======================================
// デグー一覧表示画面(index.blade.php)
// ======================================
.header-area {
    background: -moz-linear-gradient(left, #FF9800, #E91E63);
    background: -webkit-linear-gradient(left, #FF9800, #E91E63);
    background: linear-gradient(to right, #FF9800, #E91E63);
    .btn {
        background-color: #00B900;
        color: white;
        font-weight: bold;
    }
}
.deguillust {
    width: 150px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.degus-card {
    a {
        text-decoration: none;
        color: initial;
    }
}
.profile-image {
    width: 23px;
    height: 23px;
}
// ======================================
// デグー登録画面(register.blade.php)
// ======================================
.register-degu {
    h1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 20px;
        border-left: 5px solid #feeca4;
        padding-left: 5px;
    }
    button {
        margin-top: 50px;
        background-color: #ff9800;
        color: #ffffff;
        border: none;
        padding-left: 100px;
        padding-right: 100px;
    }
    button:active {
        background-color: #ffa726;
    }
    button:hover {
        background-color: #ffa726;
        color: #fff;
        transform: translateY(1px);
    }
    .alert {
        ul {
            margin-bottom: 0;
        }
    }
}
// ======================================
// デグーQAトップ画面(index.blade.php)
// ======================================
.qa-index {
    .col-md-8 { //メインカラム
        a{
            color: initial;
            text-decoration: none;
        }
        .tag {
            margin-bottom: 20px;
            font-size: 8px;
            span {
                margin: 0 3px;
                border: .5px solid #000;
                border-radius: 5px;
                padding: 5px;
            }
            .viewcount {
                background-color: #ffa726;
                color: #fff;
                font-weight: bold;
                border: none;
            }
            .new {
                background-color: #ffa726;
                color: #fff;
                border: none;
            }
            .hasanswertag {
                background: -webkit-gradient(linear, left top, right top, from(#FF9800), to(#E91E63));
                background: linear-gradient(to right, #FF9800, #E91E63);
                color: #fff;
                font-weight: bold;
                border: none;
            }
            .answerscount {
                font-size: 15px;
                border: none;
                padding: 0;
                position: relative;
                bottom: -2px;
            }
        }
        .question {
            h2 {
                font-size: 15px;
            }
        }
        .answer {
            p {
                font-size: 12px;
            }
        }
        .readdetail {
            font-size: 8px;
            color: #c0c0c0;
        }
        .text-cursor {
            border-left: 1px solid #212529;
            animation: flash 1s linear infinite;
        }
        @keyframes flash {
            0%,100% {
              opacity: 1;
            }
          
            50% {
              opacity: 0;
            }
          }
        .fonticons {
            svg {
                font-size: 15px;
                color: #616161;
                transform: scale(1);
                -moz-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.2);
                    -moz-transition: all 0.3s ease;
	                transition: all 0.3s ease;
                }
            }
            .icon-count {
                font-size: 15px;
                padding: 10px;
                color: #616161;
            }
            a {
                display: contents;
            }
        }
        //ページネーション
        .pagination {
            nav {
                .pagination {
                    margin:0
                }
            }
        }
    }
    .col-md-4 {
        h2 {
            font-size: 22px;
        }
        ul {
            padding-inline-start: 20px;
        }
    }
}
// ======================================
// デグーQA回答画面(qa/page.php)
// ======================================
.alert {
    &.alert-rainbow {
        background: -o-linear-gradient(45deg, #FF9800, #E91E63);
        background: -webkit-linear-gradient(45deg, #FF9800, #E91E63);
        background: linear-gradient(45deg, #FF9800, #E91E63);
        color: #fff;
    }
}
.question {
    .questionerinfo {
        font-size: 15px;
        color: #616161;
    }
}
.answerform {
    .answer-button {
        button {
            background: -o-linear-gradient(45deg, #FF9800, #E91E63);
            background: linear-gradient(45deg, #FF9800, #E91E63);
            color: #fff;
        }
    }
}
.answer-card {
    .date {
        font-size:15px;
        color: #616161;
    }
}


// ======================================
// Footer
// ======================================
footer {
    background-color: #3E3E3E;
    padding: 100px 0;
    .services {
        list-style: none;
    }
}