// ======================================
// body
// ======================================
body {
    background-color: #F9FBE7;
}

// ======================================
// navbar
// ======================================
.navbar {
    .navbar-brand {
        .appname {
            font-family: sans-serif;
            font-weight: bold;
        }
    }
    .navbar-nav {
        .nav-link {
         .nav-text {
                font-weight: bold;
                color: #000;
                .register {
                    background-color: #ff9800;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

// ======================================
// デグー一覧表示画面(index.blade.php)
// ======================================
.deguillust {
    width: 150px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.degus-card {
    a {
        text-decoration: none;
        color: initial;
    }
}
.profile-image {
    width: 23px;
    height: 23px;
}
// ======================================
// デグー登録画面(register.blade.php)
// ======================================
.register-degu {
    h1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 20px;
        border-left: 5px solid #feeca4;
        padding-left: 5px;
    }
    button {
        margin-top: 50px;
        background-color: #ff9800;
        color: #ffffff;
        border: none;
        padding-left: 100px;
        padding-right: 100px;
    }
    button:active {
        background-color: #ffa726;
    }
    button:hover {
        background-color: #ffa726;
        color: #fff;
        transform: translateY(1px);
    }
}
