body {
  background-color: #F6F6F4;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.navbar .navbar-brand .appname {
  font-weight: bold;
  color: #FF9800;
  background: -webkit-linear-gradient(45deg, #FF9800, #E91E63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-nav .nav-link .nav-text {
  font-weight: bold;
  color: #000;
}

.navbar .navbar-nav .nav-link .nav-text .register {
  background: -webkit-gradient(linear, left top, right top, from(#FF9800), to(#E91E63));
  background: linear-gradient(to right, #FF9800, #E91E63);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.header-area {
  background: -webkit-gradient(linear, left top, right top, from(#FF9800), to(#E91E63));
  background: linear-gradient(to right, #FF9800, #E91E63);
}

.header-area .btn {
  background-color: #00B900;
  color: white;
  font-weight: bold;
}

.deguillust {
  width: 150px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.degus-card a {
  text-decoration: none;
  color: initial;
}

.profile-image {
  width: 23px;
  height: 23px;
}

.register-degu h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.register-degu h2 {
  font-size: 20px;
  border-left: 5px solid #feeca4;
  padding-left: 5px;
}

.register-degu button {
  margin-top: 50px;
  background-color: #ff9800;
  color: #ffffff;
  border: none;
  padding-left: 100px;
  padding-right: 100px;
}

.register-degu button:active {
  background-color: #ffa726;
}

.register-degu button:hover {
  background-color: #ffa726;
  color: #fff;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.register-degu .alert ul {
  margin-bottom: 0;
}

.qa-index .col-md-8 a {
  color: initial;
  text-decoration: none;
}

.qa-index .col-md-8 .tag {
  margin-bottom: 20px;
  font-size: 8px;
}

.qa-index .col-md-8 .tag span {
  margin: 0 3px;
  border: .5px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.qa-index .col-md-8 .tag .viewcount {
  background-color: #ffa726;
  color: #fff;
  font-weight: bold;
  border: none;
}

.qa-index .col-md-8 .tag .new {
  background-color: #ffa726;
  color: #fff;
  border: none;
}

.qa-index .col-md-8 .tag .hasanswertag {
  background: -webkit-gradient(linear, left top, right top, from(#FF9800), to(#E91E63));
  background: linear-gradient(to right, #FF9800, #E91E63);
  color: #fff;
  font-weight: bold;
  border: none;
}

.qa-index .col-md-8 .tag .answerscount {
  font-size: 15px;
  border: none;
  padding: 0;
  position: relative;
  bottom: -2px;
}

.qa-index .col-md-8 .question h2 {
  font-size: 15px;
}

.qa-index .col-md-8 .answer p {
  font-size: 12px;
}

.qa-index .col-md-8 .readdetail {
  font-size: 8px;
  color: #c0c0c0;
}

.qa-index .col-md-8 .text-cursor {
  border-left: 1px solid #212529;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.qa-index .col-md-8 .fonticons svg {
  font-size: 18px;
  color: #616161;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.qa-index .col-md-8 .fonticons svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.qa-index .col-md-8 .fonticons .icon-count {
  font-size: 18px;
  padding: 10px;
  color: #616161;
}

.qa-index .col-md-8 .pagination nav .pagination {
  margin: 0;
}

.qa-index .col-md-4 h2 {
  font-size: 22px;
}

.qa-index .col-md-4 ul {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.question .questionerinfo {
  font-size: 15px;
  color: #616161;
}

.answerform .answer-button button {
  background: linear-gradient(45deg, #FF9800, #E91E63);
  color: #fff;
}

.answer-card .date {
  font-size: 15px;
  color: #616161;
}

footer {
  background-color: #3E3E3E;
  padding: 100px 0;
}

footer .services {
  list-style: none;
}
/*# sourceMappingURL=custom.css.map */